<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
  
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <% unless post.post_image.nil? %>
          <td><%= image_tag attachment_url(post, :post_image, :fill, 250, 250) %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= post.captions %></td>
      </tr>
      <tr>
        <td><%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
